<p id="notice"><%= notice %></p>
<div class="bg-success" >
<p class="bg-success">
  <strong>First name:</strong>
  <%= @patient.first_name  %>
</p>
<p class="bg-info">
 <strong>Last name:</strong>
  <%= @patient.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @patient.email %>
</p>

<p class="bg-danger">
  <strong>Phone number:</strong>
  <%= @patient.phone_number %>
</p>

<p class="bg-info">
  <strong>State:</strong>
  <%= @patient.state %>
</p>
<p class="bg-danger">
  <strong>Doctor:</strong>
  <%= @patient.doctor.first_name %>
  <%= @patient.doctor.last_name %>
</p>
</div>

<%= link_to 'Edit', edit_patient_path(@patient),  class:"btn btn-default"%> 
<%= link_to 'Back', patients_path , class:"btn btn-default"%>
